<section class="d-flex features">
    <div class="box">
        <div class="title">
        <h1>Up-Level Your Communication</h1>
        <p class="heading-subtitle">Unlock Grammarly Premium’s advanced features and suggestions.</p>
        </div>
        <div class="features-points">
            <div >
                <p class="subtitle">FOR CASUAL WRITING</p>
        <h1>Free</h1>
        <h3>Basic writing suggestions.</h3>
        <button mat-flat-button color="accent">Upgrade to Grammarly Premium</button>


                <p><mat-icon class="p-0 m-0"> check</mat-icon>
                    <span>Spelling</span></p>
                <p><mat-icon class="p-0 m-0"> check</mat-icon> <span>Grammar</span></p>
                <p><mat-icon class="p-0 m-0"> check</mat-icon><span>Punctuation</span></p>
                <p><mat-icon class="p-0 m-0"> check</mat-icon><span>Conciseness</span></p>
            </div>
            <div >
                <p class="subtitle">FOR WORK OR SCHOOL</p>
        <h1>Premium</h1>
        <h3>Style, tone, and clarity improvements for writing at work and school.</h3>
        <button mat-flat-button color="accent">Upgrade to Grammarly Premium</button>



                <p><mat-icon class="p-0 m-0"> check</mat-icon><span><b>Everything in free</b></span></p>
                <p><mat-icon class="p-0 m-0"> check</mat-icon><span>Clarity-focused sentence rewrites </span></p>
                <p><mat-icon class="p-0 m-0"> check</mat-icon><span>Tone Adjustments </span></p>
                <p><mat-icon class="p-0 m-0"> check</mat-icon><span>Plagiarism detection </span></p>
                <p><mat-icon class="p-0 m-0"> check</mat-icon><span>Word choice </span></p>
                <p><mat-icon class="p-0 m-0"> check</mat-icon><span>Formality level </span></p>
                <p><mat-icon class="p-0 m-0"> check</mat-icon><span>Fluency </span></p>
                <p><mat-icon class="p-0 m-0"> check</mat-icon><span>Additional advanced suggestions </span></p>

            </div>

        </div>
    </div>
</section>