<section class="d-flex features">
    <div class="box">
        <div class="title">
        <h1>Up-Level Your Communication</h1>
        <p class="heading-subtitle">Unlock Grammarly Premium’s advanced features and suggestions.</p>
        </div>
        <div class="features-points">
            <div >
                <p class="subtitle">FOR CASUAL WRITING</p>
        <h1>Free</h1>
        <h3>Basic writing suggestions.</h3>
        <button mat-flat-button color="accent">Upgrade to Grammarly Premium</button>


                <p tooltip="Eliminate spelling errors."  image="https://static.grammarly.com/assets/files/d7dae495a77eb1db07abafa627c135db/example-formality.svg"><mat-icon class="p-0 m-0"> check</mat-icon>
                    <span>Spelling</span>
                </p>
                <p tooltip="Eliminate grammatical errors."  image="https://static.grammarly.com/assets/files/45bb5d7f61028cc68409ac207d58e806/example-grammar.svg"><mat-icon class="p-0 m-0"> check</mat-icon> <span>Grammar</span></p>
                <p tooltip="Eliminate punctuation errors."  image="https://static.grammarly.com/assets/files/04a6185f01001090f239f95e005d7b96/example-punctuation.svg"><mat-icon class="p-0 m-0"> check</mat-icon><span>Punctuation</span></p>
                <p tooltip="Make every sentence concise and easy to follow."  image="https://static.grammarly.com/assets/files/b16a2117a5bc0b5ac49fdcdbbfee30c9/example-conciseness.svg"><mat-icon class="p-0 m-0"> check</mat-icon><span>Conciseness</span></p>
            </div>
            <div >
                <p class="subtitle">FOR WORK OR SCHOOL</p>
        <h1>Premium</h1>
        <h3>Style, tone, and clarity improvements for writing at work and school.</h3>
        <button mat-flat-button color="accent">Upgrade to Grammarly Premium</button>



                <p ><mat-icon class="p-0 m-0"> check</mat-icon><span><b>Everything in free</b></span></p>
                <p tooltip="Automatically rewrite hard-to-read sentences."  image="https://static.grammarly.com/assets/files/b14251ced92375bba8190092543d2937/example-sentence-rewrites.svg"><mat-icon class="p-0 m-0"> check</mat-icon><span>Clarity-focused sentence rewrites </span></p>
                <p tooltip="Eliminate hedging language or unnecessary qualifiers to sound more confident."  image="https://static.grammarly.com/assets/files/1e01fcc98c60d4c210320cc735a38368/example-confident-writing.svg"><mat-icon class="p-0 m-0"> check</mat-icon><span>Tone Adjustments </span></p>
                <p tooltip="Ensure your work is fresh and original by checking it against 16 billion web pages."><mat-icon class="p-0 m-0"> check</mat-icon><span>Plagiarism detection </span></p>
                <p tooltip="Find vivid words to enliven each and every message."  image="https://static.grammarly.com/assets/files/1cb3884004858ec65c71e5f7db9edd54/example-word-choice.svg"><mat-icon class="p-0 m-0"> check</mat-icon><span>Word choice </span></p>
                <p tooltip="Write with the appropriate tone, even when you're in a hurry."  image="https://static.grammarly.com/assets/files/d7dae495a77eb1db07abafa627c135db/example-formality.svg"><mat-icon class="p-0 m-0"> check</mat-icon><span>Formality level </span></p>
                <p tooltip="Ensure your word choices sound natural and fluent."  image="https://static.grammarly.com/assets/files/6ae68325cb99c9176eab1924c4bc8ce4/example-fluency.svg"><mat-icon class="p-0 m-0"> check</mat-icon><span>Fluency </span></p>
                <p tooltip="Fix inconsistencies in spelling and punctuation, adjust the tone of your writing, and get additional advanced feedback."><mat-icon class="p-0 m-0"> check</mat-icon><span>Additional advanced suggestions </span></p>

            </div>

        </div>
    </div>
</section>