.features{
    margin: 0 auto;
    max-width: 674px;
    width: 100%;
}
.feature-box{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.feature-box .title h1{
    font-style: normal;
    font-weight: 700;
    margin: 0;
    font-size: 29px;
} 
.feature-box .heading-subtitle{
    font-size: 18px;
    line-height: 32px;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0;
   
}
.feature-box .features-points p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;
   
}
.feature-box .features-points .mat-icon{
    font-size: 18px;
    font-weight: 600;
    color: #12C39A;
   
}
.feature-box .features-points p span{
    border-bottom: 1px dotted #9fa6bf;
   
}
.feature-box .title{
    text-align: center;
}
.features-points{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.feature-box .features-points .subtitle{
    color: rgb(109, 117, 141);
    font-size: 11px;
    letter-spacing: 1px;
}
.feature-box .features-points h3{
    font-size: 15px;
    font-weight: normal;
    min-height: 37px;
}



@media only screen and (max-width:768px) {
    .features-points{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: .5fr 1fr;
        gap: 10px;
        padding: 0 50px;
    }
}
