<section class="d-flex home">
    <div class="box">
        <div class="title">
            <h1>Aim High With Brilliant Writing</h1>
            <button mat-flat-button color="accent">Upgrade to Grammarly Premium</button>
        </div>
        <div class="d-flex justify-space  mt-4">
            <div class="animation-conatiner" #a>
                <div class="image-container" >
                    <img class="user-text" 
                        src="https://static.grammarly.com/assets/files/1495248700340626177a3f4fb713a94d/writing_sample.svg"
                        alt="image">
                    <img class="correction" 
                        src="https://static.grammarly.com/assets/files/32847965b20166d16b376b3f97d7ad65/grammarly_suggestion.svg"
                        alt="image">
                </div>
                <div class="image-container">
                    <img class="user-text"
                        src="https://static.grammarly.com/assets/files/718a361635f4474a3b373645dce51bec/writing_sample.svg"
                        alt="image">
                    <img class="correction"
                        src="https://static.grammarly.com/assets/files/299da6fd3e0803d745cb860de475a4e5/grammarly_suggestion.svg"
                        alt="image">
                </div>
                <div class="image-container">
                    <img class="user-text "
                        src="https://static.grammarly.com/assets/files/467997bcab46bc3b210b11951fa061d8/writing_sample.svg"
                        alt="image">
                    <img class="correction"
                        src="https://static.grammarly.com/assets/files/8557e8eb1af323bdc9bb1cc8acff9bb7/grammarly_suggestion.svg"
                        alt="image">
                </div>
                <div class="image-container">
                    <img class="user-text"
                        src="https://static.grammarly.com/assets/files/18c5385a8f59a60ee1a389426a2a0b89/writing_sample.svg"
                        alt="image">
                    <img class="correction"
                        src="https://static.grammarly.com/assets/files/d9d689c835ee698bca792fe86759fbe1/grammarly_suggestion.svg"
                        alt="image">
                </div>
            </div>
            <div class="side-item" #side>
                <div class="item-box">
                    <h3>Clear confident communication</h3>
                    <p>Take the guesswork out of great writing</p>
                <div class="progress-bar">
                    <span class="bar">
                      <span class="progress"></span>
                    </span>
                  </div>
                </div>
                <div class="item-box">
                    <h3>Comprehensive real-time feedback</h3>
                    <p>Effective writing takes more than good grammar.</p>
                <div class="progress-bar">
                    <span class="bar">
                      <span class="progress"></span>
                    </span>
                  </div>
                </div>
                <div class="item-box">
                    <h3>Support you can rely on</h3>
                    <p>Write with a second pair of eyes that never gets tired.</p>
                <div class="progress-bar">
                    <span class="bar">
                      <span class="progress"></span>
                    </span>
                  </div>
                </div>
                <div class="item-box">
                    <h3>Strike the right tone</h3>
                    <p>Make the best impression, every time.</p>
                <div class="progress-bar">
                    <span class="bar">
                      <span class="progress"></span>
                    </span>
                  </div>
                </div>

            </div>
        </div>
    </div>
</section>